<nav class="pv3 ph3" role="navigation">
  <div class="flex justify-center">
    <div class="bb b--light-blue flex items-center">
      <div>
      <img src="/images/creatures/logo_creature_square.png" alt="Site logo." width="70px" height="70px" class="pr3"/>
      </div>
      <div class="flex flex-column nb3">
        <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-blue no-underline black-90 nb3">
        {{ .Site.Title }}
        </a>
        <p class="black-60 mr3">{{ .Site.Params.Subtitle }}</p>
      </div>
      <div class="flex pl5 pr2"><a class="f4 fw2 hover-blue no-underline black-90" href="/" title="Home">Home</a></div>
    </div>
  </div>
</nav>
