<nav class="pv3 ph2" role="navigation">
  <div class="flex justify-center">
    <div class="bb b--light-blue flex items-center">
      <div>
      <img src="/images/creatures/logo_creature_square.png" alt="Site logo." width="70px" height="70px" class="pr3"/>
      </div>
      <div class="flex flex-column pl2">
        <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-blue no-underline black-90 nb3">
        {{ .Site.Title }}
        </a>
          <div class="black-60 pt3">Wan Shen Lim, a PhD student at Carnegie Mellon SCS</div>
          <span class="black-60 pt1">BSCS CMU 2020</p>
      </div>
      <div class="flex pl4-ns pr2-ns"><a class="f4 fw2 hover-blue no-underline black-90" href="/" title="Home">Home</a></div>
    </div>
  </div>
</nav>
