{{ define "main" }}
  <article class="f4 cf center measure-wide mid-gray nested-links">
    <div class="flex justify-center">
      <p class="center pt6">Formal stuff: <a class="link" href="/official/">Official</a></p>
    </div>
    <div class="flex justify-around items-center pb4">
      <img src="/images/creatures/logo_peek.jpg" alt="Site logo." class="w-50 mw-50 ba bw1" />
      <div class="flex flex-column black-80">
        <p class="ph3 f4">Hi! Where to?</p>
        <ul class="items-left nt2">
          <li><a class="link" href="/about/">About</a></li>
          <li><a class="link" href="/amuse/">Amuse</a></li>
        <li><a class="link" href="/courses/">Courses @ CMU</a></li>
        <li><a class="link" href="/useful/">Useful</a></li>
        <li><a class="link" href="/links/">Links</a></li>
        </ul>
        <a style="display:none;" href="/blog/">Blog is active!</a>
      </div>
    </div>
  </article>
{{ end }}
